<div class="text-center">
    <h1 class="display-4">Soy Eduardo Camacho</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .NET</h2>
    <img src="~/img/foto.jpg" id="foto" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>He estado desarrollando software para distintas empresas utilizando diferentes tecnologias</p>
    </div>
</div>